body{
    margin:0px;
}

/* Nav Bar */
.container {
    padding-left: 15%;
    padding-right: 15%;
    background-color: gray;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li a p {
    color: black;
    font-size: large;
    font-family: sans-serif;
}

nav ul li a p:hover {
    color: white;
}

a {
    text-decoration: none;
}


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body2{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 30;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.title {
    color: black;
    font-size: x-large;
    font-weight: 800;
    font-family: sans-serif;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: left;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 175px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #D3D3D3;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}
